body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2{
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 33px;
    font-weight: 400;
    margin: 1rem;
    padding: 20px;
    text-align: left;
}
p{
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    margin: 1rem;
    padding: 20px;
    text-align: left;
}
pre{
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding: 20px, 0;
    margin: 2rem;
    overflow: auto;
    width: 28rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
code{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-right: 6rem;
}
strong{
    font-weight: 700;
    color: #000;
}